@using LibraryWeb.Models.Entity
@model List<Transactions>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h2>İade Edilen Kitaplar</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>İşlem ID</th>
            <th>Kitap Adı</th>
            <th>Üye</th>
            <th>Personel</th>
            <th>Kitabın Verildiği Tarih</th>
            <th>İade Edilen Tarih</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.ID</td>
                <td>@transaction.Books.NAME</td>
                <td>@transaction.Members.NAME</td>
                <td>@transaction.Personnels.NAMESURNAME</td>
                <td>@transaction.PURCHASEDATE</td>
                <td>@transaction.HANDEDDATE</td>
                <td><a href="/Lend/ReturnTheBook/@transaction.ID" class="btn btn-default" style="background-color:#21dd19">Detay</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

