@model LibraryWeb.Models.Entity.Personnels
@{
    ViewBag.Title = "GetPersonnel";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdatePersonnel", "Personnel", FormMethod.Post))
{
    <div class="form-group" style="margin-right: 50px; margin-bottom: 15px; margin-top: 30px; ">
        @Html.LabelFor(p => p.ID)
        @Html.TextBoxFor(p => p.ID, new { @class = "form-control" })
    </div>
    <div class="form-group" style="margin-right: 50px; margin-bottom: 15px;">
        @Html.LabelFor(p => p.NAMESURNAME)
        @Html.TextBoxFor(p => p.NAMESURNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NAMESURNAME, "", new { @style = "color:red" })
    </div>
    <button class="btn btn-warning">Güncelle</button>
}

